
img {
    width: 90%;
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    background-color: lightgray;
}

.logo-container {
    margin-top: 3em;
    height: 40px;
    background-color: white;
    text-align: left;
}
.page-header1{
    position: relative;
    bottom: 18px;
}

.logo {
    width: 105px;
   position: relative;
    bottom: 20px;
    margin-top: -10px;
    margin-left: 31%;
}
/*.apple{*/
    /*position: relative;*/
    /*margin-left: 30%;*/
    /*margin-top: 80px;*/
/*}*/
/*.man{*/
    /*position: relative;*/
    /*margin-left: 30%;*/
    /*margin-top: 50px;*/
/*}*/
/*.macbook{*/
    /*position: relative;*/
    /*margin-left: 10%;*/
    /*margin-top: 80px;*/
/*}*/
/*.security {*/
    /*position: relative;*/
    /*margin-left: 10%;*/
    /*margin-top: 50px;*/
/*}*/
 .circle{
     margin-top: 30px;
     border: solid white 5px;
    width: 100px;
    height: 100px;
    background-color: #d76046;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;


}
 .image{
     width: 60px;
 }
.circle1{
    margin-top: 30px;
    border: solid white 5px;
    width: 100px;
    height: 100px;
    background-color: #dfa03d;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}
.circle2{
    margin-top: 30px;
    border: solid white 5px;
    width: 100px;
    height: 100px;
    background-color: #7cb06c;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}
.circle3{
    margin-top: 30px;
    border: solid white 5px;
    width: 100px;
    height: 100px;
    background-color: #00aba9;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;

}
.circle p{
    position: relative;
    top: 40px;
    -webkit-text-fill-color: white;
}
.circle1 p{
    position: relative;
    top: 40px;
    -webkit-text-fill-color: white;
}
.circle2 p{
    position: relative;
    top: 40px;
    -webkit-text-fill-color: white;
}
.circle3 p{
    position: relative;
    top: 40px;
     -webkit-text-fill-color: white;
}