
img{
    width: 105px;
}

body {
    background-color: #f0f0f0;
}

.logo-container {
    margin-top: 3em;
    height: 40px;
    background-color: white;
    text-align: left;
}

.logo {
   position: relative;
    bottom: 20px;
    margin-top: -10px;
    margin-left: 31%;
}
.apple{
    position: relative;
    margin-left: 30%;
    margin-top: 80px;
}
.man{
    position: relative;
    margin-left: 30%;
    margin-top: 50px;
}
.macbook{
    position: relative;
    margin-left: 10%;
    margin-top: 80px;
}
.security {
    position: relative;
    margin-left: 10%;
    margin-top: 50px;
}
